/****** index.html ******/

/*** Headline ***/
.headlinesite {
    padding-left: 8rem;
}

/*** Subheadlines ***/
.subheadline {
    font-size: 2.75rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #5cb85c;
}






/****** Sportangebote.html ******/

/*** 2. Navbar ***/
.sportnavheadline {
    padding-left: 5rem;
}
.sportnav {
    padding-left: 8rem;
}

/*** 2. Navbar border-top ***/
.sportnavbord {
    border-top: 1px solid #5cb85c; 
}



        /****** Kinderrudern.html ******/
        
        /*** Auswahl Navbar sichtbar ***/
        .sportnavact {
            border-bottom: 3px solid #5cb85c;
        }